pipeline/PL_Retail_ETL.json
{
	"name": "PL_Retail_ETL",
	"properties": {
		"activities": [
			{
				"name": "GM_Landing_Folders",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Landing_Root",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "FE_Copy_Datasets",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GM_Landing_Folders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GM_Landing_Folders').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 4,
					"activities": [
						{
							"name": "GM_Current_File",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_Landing_Folder",
									"type": "DatasetReference",
									"parameters": {
										"Folder": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "Copy_Current_Dataset",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "GM_Current_File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_Landing_Dynamic",
									"type": "DatasetReference",
									"parameters": {
										"Folder": {
											"value": "@item().name",
											"type": "Expression"
										},
										"File": {
											"value": "@activity('GM_Current_File').output.childItems[0].name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Raw_Dynamic",
									"type": "DatasetReference",
									"parameters": {
										"Folder": {
											"value": "@item().name",
											"type": "Expression"
										},
										"File": {
											"value": "@activity('GM_Current_File').output.childItems[0].name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "nb_bronze",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "FE_Copy_Datasets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/amankanodia77@gmail.com/Retail-Lakehouse/notebooks/01_Bronze_Ingestion",
					"baseParameters": {
						"storage_account": {
							"value": "@pipeline().parameters.storage_account",
							"type": "Expression"
						},
						"landing_container": {
							"value": "@pipeline().parameters.landing_container",
							"type": "Expression"
						},
						"raw_container": {
							"value": "@pipeline().parameters.raw_container",
							"type": "Expression"
						},
						"bronze_container": {
							"value": "@pipeline().parameters.bronze_container",
							"type": "Expression"
						},
						"silver_container": {
							"value": "@pipeline().parameters.silver_container",
							"type": "Expression"
						},
						"gold_container": {
							"value": "@pipeline().parameters.gold_container",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Databricks_org",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "nb_silver",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "nb_bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/amankanodia77@gmail.com/Retail-Lakehouse/notebooks/02_Silver_Transformation",
					"baseParameters": {
						"storage_account": {
							"value": "@pipeline().parameters.storage_account",
							"type": "Expression"
						},
						"landing_container": {
							"value": "@pipeline().parameters.landing_container",
							"type": "Expression"
						},
						"raw_container": {
							"value": "@pipeline().parameters.raw_container",
							"type": "Expression"
						},
						"bronze_container": {
							"value": "@pipeline().parameters.bronze_container",
							"type": "Expression"
						},
						"silver_container": {
							"value": "@pipeline().parameters.silver_container",
							"type": "Expression"
						},
						"gold_container": {
							"value": "@pipeline().parameters.gold_container",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Databricks_org",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "nb_gold",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "nb_silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/amankanodia77@gmail.com/Retail-Lakehouse/notebooks/03_Gold_Analytics",
					"baseParameters": {
						"storage_account": {
							"value": "@pipeline().parameters.storage_account",
							"type": "Expression"
						},
						"landing_container": {
							"value": "@pipeline().parameters.landing_container",
							"type": "Expression"
						},
						"raw_container": {
							"value": "@pipeline().parameters.raw_container",
							"type": "Expression"
						},
						"bronze_container": {
							"value": "@pipeline().parameters.bronze_container",
							"type": "Expression"
						},
						"silver_container": {
							"value": "@pipeline().parameters.silver_container",
							"type": "Expression"
						},
						"gold_container": {
							"value": "@pipeline().parameters.gold_container",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Databricks_org",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "nb_incremental",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "nb_gold",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/amankanodia77@gmail.com/Retail-Lakehouse/notebooks/04_Incremental_Load",
					"baseParameters": {
						"storage_account": {
							"value": "@pipeline().parameters.storage_account",
							"type": "Expression"
						},
						"landing_container": {
							"value": "@pipeline().parameters.landing_container",
							"type": "Expression"
						},
						"raw_container": {
							"value": "@pipeline().parameters.raw_container",
							"type": "Expression"
						},
						"bronze_container": {
							"value": "@pipeline().parameters.bronze_container",
							"type": "Expression"
						},
						"silver_container": {
							"value": "@pipeline().parameters.silver_container",
							"type": "Expression"
						},
						"gold_container": {
							"value": "@pipeline().parameters.gold_container",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Databricks_org",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "nb_validation",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "nb_incremental",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/amankanodia77@gmail.com/Retail-Lakehouse/notebooks/05_Data_Validation",
					"baseParameters": {
						"storage_account": {
							"value": "@pipeline().parameters.storage_account",
							"type": "Expression"
						},
						"landing_container": {
							"value": "@pipeline().parameters.landing_container",
							"type": "Expression"
						},
						"raw_container": {
							"value": "@pipeline().parameters.raw_container",
							"type": "Expression"
						},
						"bronze_container": {
							"value": "@pipeline().parameters.bronze_container",
							"type": "Expression"
						},
						"silver_container": {
							"value": "@pipeline().parameters.silver_container",
							"type": "Expression"
						},
						"gold_container": {
							"value": "@pipeline().parameters.gold_container",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Databricks_org",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Fail_Bronze",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "nb_bronze",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Bronze notebook execution failed. Verify Databricks logs, storage connectivity, authentication, or input data before rerunning the pipeline.",
					"errorCode": "BRONZE_001"
				}
			},
			{
				"name": "Fail_sliver",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "nb_silver",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Silver notebook execution failed. Verify transformation logic, Delta tables, and input data before rerunning the pipeline.",
					"errorCode": "SILVER_001"
				}
			},
			{
				"name": "Fail_gold",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "nb_gold",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Gold notebook execution failed. Verify business transformations, aggregations, and Delta tables before rerunning the pipeline.",
					"errorCode": "GOLD_001"
				}
			},
			{
				"name": "Fail_Incremental",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "nb_incremental",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Incremental load failed. Verify MERGE logic, source data, and Delta history before rerunning the pipeline.",
					"errorCode": "INCREMENTAL_001"
				}
			},
			{
				"name": "Fail_Validation",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "nb_validation",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Data validation failed. Review validation checks, record counts, and data quality issues before rerunning the pipeline.",
					"errorCode": "VALIDATION_001"
				}
			}
		],
		"parameters": {
			"storage_account": {
				"type": "string",
				"defaultValue": "stretaildev4821"
			},
			"landing_container": {
				"type": "string",
				"defaultValue": "landing"
			},
			"raw_container": {
				"type": "string",
				"defaultValue": "raw"
			},
			"bronze_container": {
				"type": "string",
				"defaultValue": "bronze"
			},
			"silver_container": {
				"type": "string",
				"defaultValue": "silver"
			},
			"gold_container": {
				"type": "string",
				"defaultValue": "gold"
			},
			"run_date": {
				"type": "string",
				"defaultValue": "2026-06-26"
			},
			"environment": {
				"type": "string",
				"defaultValue": "dev"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-06-26T14:22:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}