adf-retail-dev12/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-retail-dev12"
		},
		"LS_ADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS'"
		},
		"LS_Databricks_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'LS_Databricks'"
		},
		"LS_Databricks_org_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'LS_Databricks_org'"
		},
		"LS_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stretaildev4821.dfs.core.windows.net/"
		},
		"LS_Databricks_org_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0625-061923-m6zvkaqj"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_Retail_ETL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GM_Landing_Folders",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_Landing_Root",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "FE_Copy_Datasets",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GM_Landing_Folders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GM_Landing_Folders').output.childItems",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 4,
							"activities": [
								{
									"name": "GM_Current_File",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DS_Landing_Folder",
											"type": "DatasetReference",
											"parameters": {
												"Folder": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"childItems"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								},
								{
									"name": "Copy_Current_Dataset",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "GM_Current_File",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": false,
												"deleteFilesAfterCompletion": false
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_Landing_Dynamic",
											"type": "DatasetReference",
											"parameters": {
												"Folder": {
													"value": "@item().name",
													"type": "Expression"
												},
												"File": {
													"value": "@activity('GM_Current_File').output.childItems[0].name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_Raw_Dynamic",
											"type": "DatasetReference",
											"parameters": {
												"Folder": {
													"value": "@item().name",
													"type": "Expression"
												},
												"File": {
													"value": "@activity('GM_Current_File').output.childItems[0].name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "nb_bronze",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "FE_Copy_Datasets",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/amankanodia77@gmail.com/Retail-Lakehouse/notebooks/01_Bronze_Ingestion",
							"baseParameters": {
								"storage_account": {
									"value": "@pipeline().parameters.storage_account",
									"type": "Expression"
								},
								"landing_container": {
									"value": "@pipeline().parameters.landing_container",
									"type": "Expression"
								},
								"raw_container": {
									"value": "@pipeline().parameters.raw_container",
									"type": "Expression"
								},
								"bronze_container": {
									"value": "@pipeline().parameters.bronze_container",
									"type": "Expression"
								},
								"silver_container": {
									"value": "@pipeline().parameters.silver_container",
									"type": "Expression"
								},
								"gold_container": {
									"value": "@pipeline().parameters.gold_container",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_Databricks_org",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "nb_silver",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "nb_bronze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/amankanodia77@gmail.com/Retail-Lakehouse/notebooks/02_Silver_Transformation",
							"baseParameters": {
								"storage_account": {
									"value": "@pipeline().parameters.storage_account",
									"type": "Expression"
								},
								"landing_container": {
									"value": "@pipeline().parameters.landing_container",
									"type": "Expression"
								},
								"raw_container": {
									"value": "@pipeline().parameters.raw_container",
									"type": "Expression"
								},
								"bronze_container": {
									"value": "@pipeline().parameters.bronze_container",
									"type": "Expression"
								},
								"silver_container": {
									"value": "@pipeline().parameters.silver_container",
									"type": "Expression"
								},
								"gold_container": {
									"value": "@pipeline().parameters.gold_container",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_Databricks_org",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "nb_gold",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "nb_silver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/amankanodia77@gmail.com/Retail-Lakehouse/notebooks/03_Gold_Analytics",
							"baseParameters": {
								"storage_account": {
									"value": "@pipeline().parameters.storage_account",
									"type": "Expression"
								},
								"landing_container": {
									"value": "@pipeline().parameters.landing_container",
									"type": "Expression"
								},
								"raw_container": {
									"value": "@pipeline().parameters.raw_container",
									"type": "Expression"
								},
								"bronze_container": {
									"value": "@pipeline().parameters.bronze_container",
									"type": "Expression"
								},
								"silver_container": {
									"value": "@pipeline().parameters.silver_container",
									"type": "Expression"
								},
								"gold_container": {
									"value": "@pipeline().parameters.gold_container",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_Databricks_org",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "nb_incremental",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "nb_gold",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/amankanodia77@gmail.com/Retail-Lakehouse/notebooks/04_Incremental_Load",
							"baseParameters": {
								"storage_account": {
									"value": "@pipeline().parameters.storage_account",
									"type": "Expression"
								},
								"landing_container": {
									"value": "@pipeline().parameters.landing_container",
									"type": "Expression"
								},
								"raw_container": {
									"value": "@pipeline().parameters.raw_container",
									"type": "Expression"
								},
								"bronze_container": {
									"value": "@pipeline().parameters.bronze_container",
									"type": "Expression"
								},
								"silver_container": {
									"value": "@pipeline().parameters.silver_container",
									"type": "Expression"
								},
								"gold_container": {
									"value": "@pipeline().parameters.gold_container",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_Databricks_org",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "nb_validation",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "nb_incremental",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/amankanodia77@gmail.com/Retail-Lakehouse/notebooks/05_Data_Validation",
							"baseParameters": {
								"storage_account": {
									"value": "@pipeline().parameters.storage_account",
									"type": "Expression"
								},
								"landing_container": {
									"value": "@pipeline().parameters.landing_container",
									"type": "Expression"
								},
								"raw_container": {
									"value": "@pipeline().parameters.raw_container",
									"type": "Expression"
								},
								"bronze_container": {
									"value": "@pipeline().parameters.bronze_container",
									"type": "Expression"
								},
								"silver_container": {
									"value": "@pipeline().parameters.silver_container",
									"type": "Expression"
								},
								"gold_container": {
									"value": "@pipeline().parameters.gold_container",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_Databricks_org",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fail_Bronze",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "nb_bronze",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": "Bronze notebook execution failed. Verify Databricks logs, storage connectivity, authentication, or input data before rerunning the pipeline.",
							"errorCode": "BRONZE_001"
						}
					},
					{
						"name": "Fail_sliver",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "nb_silver",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": "Silver notebook execution failed. Verify transformation logic, Delta tables, and input data before rerunning the pipeline.",
							"errorCode": "SILVER_001"
						}
					},
					{
						"name": "Fail_gold",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "nb_gold",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": "Gold notebook execution failed. Verify business transformations, aggregations, and Delta tables before rerunning the pipeline.",
							"errorCode": "GOLD_001"
						}
					},
					{
						"name": "Fail_Incremental",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "nb_incremental",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": "Incremental load failed. Verify MERGE logic, source data, and Delta history before rerunning the pipeline.",
							"errorCode": "INCREMENTAL_001"
						}
					},
					{
						"name": "Fail_Validation",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "nb_validation",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": "Data validation failed. Review validation checks, record counts, and data quality issues before rerunning the pipeline.",
							"errorCode": "VALIDATION_001"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"storage_account": {
						"type": "string",
						"defaultValue": "stretaildev4821"
					},
					"landing_container": {
						"type": "string",
						"defaultValue": "landing"
					},
					"raw_container": {
						"type": "string",
						"defaultValue": "raw"
					},
					"bronze_container": {
						"type": "string",
						"defaultValue": "bronze"
					},
					"silver_container": {
						"type": "string",
						"defaultValue": "silver"
					},
					"gold_container": {
						"type": "string",
						"defaultValue": "gold"
					},
					"run_date": {
						"type": "string",
						"defaultValue": "2026-06-26"
					},
					"environment": {
						"type": "string",
						"defaultValue": "dev"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-06-26T14:22:29Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Landing_Root')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_Databricks_org')]",
				"[concat(variables('factoryId'), '/datasets/DS_Landing_Folder')]",
				"[concat(variables('factoryId'), '/datasets/DS_Landing_Dynamic')]",
				"[concat(variables('factoryId'), '/datasets/DS_Raw_Dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Landing_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "customers_retail_realistic.csv",
						"folderPath": "customers",
						"fileSystem": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "customer_id",
						"type": "String"
					},
					{
						"name": "customer_name",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "signup_date",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Landing_Dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Folder": {
						"type": "string"
					},
					"File": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().File",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Folder",
							"type": "Expression"
						},
						"fileSystem": "landing"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Landing_Folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Folder": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().Folder",
							"type": "Expression"
						},
						"fileSystem": "landing"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Landing_Root')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "landing"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Raw_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "customers.csv",
						"folderPath": "customers",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Raw_Dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Folder": {
						"type": "string"
					},
					"File": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().File",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Folder",
							"type": "Expression"
						},
						"fileSystem": "raw"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Databricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricksDeltaLake",
				"typeProperties": {
					"domain": "https://adb-7405619698756048.8.azuredatabricks.net",
					"clusterId": "0625-061923-m6zvkaqj",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('LS_Databricks_accessToken')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Databricks_org')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7405619698756048.8.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('LS_Databricks_org_accessToken')]"
					},
					"existingClusterId": "[parameters('LS_Databricks_org_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TR_Daily_Retail_ETL')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_Retail_ETL",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2026-06-26T14:00:00",
						"timeZone": "India Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_Retail_ETL')]"
			]
		}
	]
}